<li class="nav-item @@home__active"><a class="nav-link" href="/CollaboratorHome">Home</a></li>
<li class="nav-item @@home__active"><a class="nav-link" href="/CPatientRequest">PatientRequest</a></li>
<li class="nav-item @@about__active"><a class="nav-link" href="/CFileUpload">FileUpload</a></li>
<li class="nav-item @@about__active"><a class="nav-link" href="/CFileInfo">FileInfo</a></li>
<li class="nav-item @@about__active"><a class="nav-link" href="/ColRequest">Request</a></li>

<li class="nav-item @@contact__active"><a class="nav-link" href="/">Logout</a></li>