<li class="nav-item @@home__active"><a class="nav-link" href="/">Home</a></li>
<li class="nav-item @@about__active"><a class="nav-link" href="/ServerLogin">Server</a></li>
<li class="nav-item @@services__active"><a class="nav-link" href="/CollaboratorLogin">Collaborator</a></li>
<li class="nav-item @@contact__active"><a class="nav-link" href="/PatientLogin">Patient</a></li>
<li class="nav-item @@contact__active"><a class="nav-link" href="/CallCenterLogin">CallCenter</a></li>
<li class="nav-item @@contact__active"><a class="nav-link" href="/ResearchLogin">Research</a></li>
<li class="nav-item @@contact__active"><a class="nav-link" href="/UserLogin">User</a></li>