<li class="nav-item @@home__active"><a class="nav-link" href="/PatientHome">Home</a></li>
<li class="nav-item @@home__active"><a class="nav-link" href="/PSendRequest">SendRequest</a></li>
<li class="nav-item @@home__active"><a class="nav-link" href="/PHealthRecord">HealthRecord</a></li>
<li class="nav-item @@home__active"><a class="nav-link" href="/PUrlInfo">UrlInfo</a></li>
<li class="nav-item @@about__active"><a class="nav-link" href="/PEncrptUrl">EncrptUrl</a></li>
<li class="nav-item @@about__active"><a class="nav-link" href="/URequest">URequest</a></li>
<li class="nav-item @@contact__active"><a class="nav-link" href="/">Logout</a></li>